#praybox table.praybox {border: 0px !important; width: 100%;}
#praybox table.praybox td {padding: 2px 8px !important;}
#praybox tr.pb-titlerow {}
#praybox tr.pb-datarow {border-bottom: 1px dotted #999999;}
#praybox tr.pb-titlerow td {font-size: 13px; border: 0px !important; font-weight: bold; text-align: left; background-color: #e6e6e6;}
#praybox tr.pb-datarow td {font-size: 13px; border: 0px !important; text-align: left;}
#praybox tr.pb-datarow td a {color: #CC0000; font-weight: bold;}
#praybox tr.pb-datarow td.input {text-align: center;}
#praybox tr.pb-datarow td input[type="submit"] {font-size: 11px !important; font-weight: bold; text-transform: uppercase; margin: 0px auto;}

#praybox {}
#praybox input[type="submit"] {font-size: 11px !important; font-weight: bold; text-transform: uppercase; margin: 0px auto;}
#praybox div.title {margin-left: 10px; font-weight: bold; font-size: larger;}
#praybox div.thankyou {width: 100%; font-weight: bold; font-size: larger; font-style: italic; text-align: center;}
#praybox div.intro {width: 100%; text-align: left; font-size: 13px; padding: 10px 0px;}
#praybox div.intro ul {margin-left: 20px; font-size: 13px;}
#praybox div.back {margin: 10px 0px; color: #CC0000; font-weight: bold; text-align: left; font-size: 12px;}
#praybox div.back a {color: #CC0000;}
#praybox table.details {border: 1px solid #cccccc; background-color: #e6e6e6; margin-top: 10px;}
#praybox table.details td {border: 0px !important; font-size: 13px; padding: 4px 8px !important;}
#praybox table.details td.label {width: 25%; font-weight: bold;}
#praybox table.details td.response {text-align: right;}
#praybox table.details td.content {}
#praybox table.details td.content form.flag {float:right;}
#praybox table.details td.content form.flag input[type="submit"] {background-color: #CC0000; color: #FFFFFF; border: 1px solid #666666; cursor: pointer; padding: 1px 2px; font-size: 10px !important;}

#praybox table.subform {border: 0px; background-color: transparent; margin-top: 10px;}
#praybox table.subform tr.poneyhot {display:none !important;}
#praybox table.subform td {border: 0px !important; font-size: 13px; padding: 4px 8px !important; vertical-align: top;}
#praybox table.subform td.label {width: 25%; font-weight: bold;}
#praybox table.subform td.input {text-align: left;}
#praybox table.subform td.input input, #praybox table.subform td.input textarea {width: 90%; font-size: 13px;}
#praybox table.subform td.checkbox {}
#praybox table.subform td.submit {text-align: center;}
#praybox table.subform td.submit input {}

#praybox .pagination {text-align: right; font-size: 12px; margin: 4px; color: #000000;}
#praybox .pagination a {color: #FFFFFF; padding: 1px 3px; background-color: #999999;}
#praybox .pagination a.active {background-color: #666666;}
#praybox .pagination a:hover {background-color: #000000;}


