.wrap h2.logo-title {background-image: url(../images/praybox-logo.png); height: 80px; line-height: 80px; padding-left: 85px; background-position: left top; background-repeat: no-repeat;}

#pbx-wrap {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

#pbx-wrap h3 {
	color: #FFFFFF;
	background-color: #87247B;
	margin: 0;
	line-height: 30px;
	text-indent: 10px;
	border-radius: 4px;
}


#pbx-main {
	padding: 10px;
	width: 70%;
	float: left;
	box-sizing: border-box;
}

#pbx-sidebar {
	padding: 10px;
	width: 30%;
	float: right;
	box-sizing: border-box;
}

#pbx-footer {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.pbx-alert {
	width: 100%;
	background-color: #666;
	color: #FFF;
	font-weight: bold;
	text-align: center;
	line-height: 24px;
}

.pbx-well {
	width: 100%;
	padding: 20px;
	float: left;
	box-sizing: border-box;
	background-color: #FFF;
	border: 1px solid #555;
	border-radius: 6px;
	margin-bottom: 30px;
	box-shadow: 2px 4px 6px #666;
}

.pbx-well p {
	font-size: 13px;
	font-weight: bold;
	margin: 0px;
}

.pbx-well ul {
	list-style: disc;
	padding-left: 30px;
}

.pbx-well li {
	font-size: 12px;
	
}

.pbx-featured {
	color: #87247B;
	background-color: #E7D3E7;
	box-sizing: border-box;
	box-shadow: 2px 4px 6px #666;
	border: 1px solid #87247B;
	border-radius: 4px;
}

.pbx-featured p {
	margin: 0;	
	padding: 10px;
}

.pbx-featured ul {
	list-style: disc;
	padding: 0 10px 0 30px;
}

.formfield {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding: 0px 10px 10px 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
}

.formfield label {
	width: 30%;
	float: left;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 14px;
}

.formfield .formelement {
	width: 70%;
	float: left;
	box-sizing: border-box;
	font-size: 12px;
}

.formfield .formelement p {margin: 0px; padding-bottom: 10px;}
.formfield .formelement.submit {width: 100%; text-align: right;}
.formfield .formelement textarea {width: 100%; height: 80px;}
.formfield .formelement select {width: 100%;}
.formfield .formelement input[type="number"] {width: 40px;}
.formfield .formelement input[type="text"], .formfield .formelement input[type="email"] {width: 50%;}

table.pbx-data {
	margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
}

table.pbx-data th {
	color: #87247B;
	background-color: #E7D3E7;
	line-height: 20px;
	border: 1px solid #87247B;
	border-bottom: 4px double #87247B;
	font-weight: bold;
}

table.pbx-data td {
	color: #87247B;
	border: 1px solid #87247B;
	padding: 10px;
}

table.pbx-data td input[type="submit"] {
	padding: 0px 4px;
	margin: 2px;
	height: 16px;
	line-height: 14px;
	font-size: 10px;
	font-weight: bold;
	float: left;
}

/*
li.toplevel_page_pb_settings a div.wp-menu-image {background-image: url(/wp-content/plugins/praybox/images/favicon.png); background-position: 0px -28px !important;}
li.toplevel_page_pb_settings.wp-menu-open a div.wp-menu-image {background-position: left top !important;}

table.gdadmin {border-collapse: collapse; border-spacing: 0px; width: 100%;}
table.gdadmin tr.headrow td {padding: 4px 10px; background-color: #CCCCCC; font-size: 13px; font-weight: bold; border-spacing: 0px;}
table.gdadmin tr.datarow td {padding: 4px 10px; font-size: 12px; vertical-align: top; border-bottom: 1px dotted #CCCCCC;}

div.wrap div.rightcol {float:left; width: 25%; margin: 0 0 0 20px;}
div.wrap div.rightcol p {padding: 0px 10px;}
div.wrap div.rightcol li {margin-left: 30px; list-style: disc; font-weight: bold;}
div.wrap div.rightcol form {width: 120px; float: right;}

div.wrap div.rightcol div.postbox.smallbottmargin {margin-bottom: 5px;}
div.wrap div.rightcol div.postbox h3 {background-color: #cccccc; padding: 10px;}


.wrap form.update {width: 80%; margin: 10px auto; padding: 5px; background-color: #F0B2B2; border: 1px solid #CC0000; text-align: center;}
.wrap form.update p {font-weight: bold; color: #CC0000;}

*/