table.gdadmin {border-collapse: collapse; border-spacing: 0px; width: 100%;}
table.gdadmin tr.headrow td {padding: 4px 10px; background-color: #CCCCCC; font-size: 13px; font-weight: bold; border-spacing: 0px;}
table.gdadmin tr.datarow td {padding: 4px 10px; font-size: 12px; vertical-align: top; border-bottom: 1px dotted #CCCCCC;}

div.wrap div.rightcol {float:left; width: 25%; margin: 0 0 0 20px;}
div.wrap div.rightcol p {padding: 0px 10px;}
div.wrap div.rightcol li {margin-left: 30px; list-style: disc; font-weight: bold;}
div.wrap div.rightcol form {width: 120px; float: right;}

div.wrap div.rightcol div.postbox h3 {background-color: #cccccc; padding: 10px;}

div.wrap div.rightcol div.featured {border-color: #006600; color: #006600; background-color: #E5F5E5; background-image: none;}
div.wrap div.rightcol div.featured h3 {color: #006600; background-color: #7FCC7F; background-image: none;}

.wrap form.update {width: 80%; margin: 10px auto; padding: 5px; background-color: #F0B2B2; border: 1px solid #CC0000; text-align: center;}
.wrap form.update p {font-weight: bold; color: #CC0000;}